
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title  class="center">
          Seller's Information
        </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="side">
        <div class="" [ngStyle]="{'background-image':'url('+dp+')','width':'110px', 'height':'110px','background-position':'center','background-size':'cover','background-repeat':'no-repeat','border-radius':'70px'}"></div>

        <p>Seller's Name: {{seller_name}}</p>
        <p>Seller's Mobile: {{seller_mobile}}</p>
        <p>Seller's Mail: {{seller_mail}}</p>
        <p>Seller's Address: {{seller_address}}</p>
        <ion-card-subtitle>
        <strong>  Store Rating: <span *ngFor="let star of rating; let i=index;">
      <ion-icon name="star" [style.color]="raty.rates[i]==i?'green':''">
      </ion-icon>
        </span>
      </strong>
          </ion-card-subtitle>
      <div class="cent"><ion-button color="success" (click)="check_store(store_id)">View Store</ion-button></div>
      </div>
      </ion-card-content>
      </ion-card>

</ion-content>
