<ion-app>
<ion-header>
  <ion-toolbar>
    <div class="browser">
      <div class="p-t">
        <div  class="logger">
                <div class="">
                  <ion-button size="small" (click)="route('tabs/tab1')">
                  <ion-icon name="arrow-back"></ion-icon>  HOME | PONCUBE
                  </ion-button>
                </div>
                <div class="">
                <div class="logo">
      <img src="assets/images/logo.png">
                </div>
                  </div>

</div>

</div>
</div>

<div class="mobile">
  <div>
      <div class="">
        <ion-button size="small" (click)="route('tabs/tab1')">
        <ion-icon name="arrow-back"></ion-icon>  HOME | PONCUBE
        </ion-button>
        </div>

        <div class="center">
          <div class="logo">
      <img src="assets/images/logo.png">
          </div>
    </div>
          </div>
</div>

  </ion-toolbar>
</ion-header>

<ion-content>
<div class="p-g">
  <div class="">
    <h2>Who is PONCUBE made for?</h2>
    PONCUBE is an international marketplace made for Nigerian-based sellers and buyers from all over the world. In essence, as a seller, your products must be Nigerian-made to own a shop in the marketplace. But as a buyer, you are free to shop and buy products listed on PONCUBE from anywhere around the world and get them shipped to you.

    <h2>Who is a seller on PONCUBE?</h2>
    A seller is a digital shop owner who displays their Nigerian-made products or services for profit from sales while building a local and international presence for their brand on the internet.

    <h2>Who is a buyer on PONCUBE?</h2>
    Buyers on PONCUBE are product or service surfers who are always looking to patronize our various shop owners. Buyers sometimes build a strong relationship with specific sellers and make them consistent suppliers of certain products. Thus, PONCUBE buyers typically search for products, shop from the featured ones, or they might even visit specific sellers and buy directly from their shop. 

    <h2>Can non-Nigerians sell on PONCUBE?</h2>
    Of course, Non-Nigerians can sell on PONCUBE. But they must provide proof that their business has its base in Nigeria and that they promote or manufacture local-made products.

    <h2>Can non-Nigerians buy from PONCUBE?</h2>
    Yes. We welcome buyers from all over the world to shop and buy products and services from Nigerian sellers on PONCUBE.

    <h2>How can you start buying from PONCUBE?</h2>
    There are no special requirements for becoming a buyer on PONCUBE. When you register for the first time, you become a buyer by default. And you can start funding your wallet and buying products or services immediately.

    You can register on PONCUBE by clicking <strong>SIGN IN</strong> on the <a href="/">home page</a> . Then select <strong>I’M NOT YET A MEMBER</strong> to begin.

    After registering, you will receive an SMS and email with your transaction token. Keep this safe!

    <h2>How can you register as a seller?</h2>
    As mentioned, everybody that registers on PONCUBE is a buyer by default. It means you must have previously registered as a buyer before you can become a seller on PONCUBE. So if you want to become a seller, you might want to see how you can become a buyer first.

    Once you register as a buyer, PONCUBE gives you the option to become a seller from your profile.

    However, before you begin the seller registration process, make sure you have the following information available:
    <ul>
<li>Your business name, address, and contact information.</li>
 <li>A phone number where you can easily be reached.</li>
<li>Well-outlined details of your shop</li>
<li> A Shop caption: A descriptive name for your shop. For example, if you sell leather shoes and your business name is “Vault,” your caption can be “Vault Leathers.”</li>
</ul>

To become a seller on PONCUBE: click <strong>BECOME A PONCUBE SELLER</strong> (PC: at the top-right corner of your profile). Then select <strong>PROCEED</strong> to start.

After following the seller registration steps, the admin will review your application in no time, and you can start selling once approved.

<h2>What is a transaction token?</h2>
A transaction token is a code you receive via email and SMS when you first register on PONCUBE. It is your safe pass to purchase items on PONCUBE. So keep it safe and secure, as you will provide it each time you want to buy a product or service on the marketplace.

<h2>Can I change my transaction token?</h2>
Yes. If you feel that your transaction token has been exposed or compromised, you can always change it:
<ol>
<li>Go to your profile (click the small picture icon at the top-right)</li>
<h2>Then open your profile menu by clicking PROFILE MENU (mobile) or the three horizontal icons at the top-left (PC).</h2> 
<li>Select <strong>CHANGE TOKEN</strong>.</li> 
<li>Provide your previous transaction token when prompted.</li> 
<li>Then click <strong>PROCEED</strong>.</li>
</ol>

You will then get an email with your new token.

<h2>What happens when you become a seller?</h2>
A seller account allows you to own a store and manage sales. As soon as you register and switch to a seller profile, you can now add product or service information, list products/services, update inventories, manage your orders, and secure payments made on each purchase.

<h2>What happens when you register as a buyer?</h2>
With a buyer account, you can shop for products, buy them, rate stores and their products, fund your wallet, and even send money to other PONCUBE users.


<h2>How can I fund my account?</h2>
To fund your PONCUBE wallet:

<ol>
<li>Go to your profile.</li>
<li>Open your profile menu (on mobile: tap <strong>PROFILE MENU</strong>.  PC: click the three horizontal icons at the top-left). </li>
<li>Select <strong>Recharge wallet</strong> to begin.</li>
</ol>

<h2>Can I withdraw my money from PONCUBE?</h2>    
Currently, only sellers have the privilege to withdraw money from their wallets to the bank. However, buyers can send money to other buyers on PONCUBE.

<h2>How can I rate a product/service or a store?</h2>
As a marketplace platform, we value your experience and opinions. So as a buyer, you can review products, services, and stores. But then, you must have bought items from a store to review it.

<h2>What does it mean to sell on PONCUBE?</h2>
When you sell on PONCUBE, you are simply displaying your products or services in a dedicated space called an online store. While each seller owns a shop, PONCUBE makes it easy for buyers from around the world to shop for relevant products from them. 

<h2>Why should I sell on PONCUBE? </h2>
One of our goals is to put your products and services out there when you partner with us as a seller. Selling on PONCUBE means your items are on display to hundreds of millions of PONCUBE users from all over the world. 

Additionally, you get free access to this large customer base without spending extra money and time designing a personal website to sell your products or services. We also prioritize detailed and accurate product descriptions. So, in addition to reaching out to our registered customer base, we offer you a search-engine-optimized platform, all at no cost.

<h2>What types of products can you sell on PONCUBE?</h2>
PONCUBE supports sales across various product categories. All you need to do is pick the categories that fit your product types and start selling. When uploading each product on PONCUBE, you have the option to select its category.

<h2>What types of products or services cannot be sold?</h2>
While PONCUBE tries to be as flexible as possible, we cannot allow sales of certain items on the platform due to regulatory restrictions. 

Examples of restricted products or services include drugs and non-Nigeria-made products.
<h2>Does PONCUBE offer fraud protection?</h2>
Yes. PONCUBE uses end-to-end encryption and other top-notch beef-up measures to secure your transactions on the platform. This way, we check and prevent fraudulent orders during purchases and also protect your wallet while funding.

<h2>Can I cancel my seller account?</h2>
Once you switch your account to a seller’s profile, you don’t have the privilege to revert it to a buyer’s account. However, you can contact the <a href=mailto:admin@poncube.com”>admin</a> to make a switch request or delete your seller account completely.

<strong>Note</strong>: You cannot retrieve your account or receive preferential account benefits anymore once it is closed.

<h2>How much does it cost to sell on PONCUBE?</h2>
It’s currently free to list and sell your products on PONCUBE. But to maintain the platform and keep you selling, we currently charge a 2.5% transaction fee on every item sold. 
 
<h2>Specifics for sellers</h2>
<h3>How do I add products to my store?</h3>
To add a product:
<ol>
<li>Click <strong>MY SHOP</strong> from your profile.</li>
<li>Then select <strong>My Product</strong> at the bottom of the page.</li>
<li>From the prompt, click ADD ITEM to begin.</li>
</ol>

<h3>How will I know about sales and orders?</h3>
You’ll get notified by email and SMS whenever you receive an order.

<h2>What are some tips for becoming a successful seller on PONCUBE?</h2>
So after all, here are some tips for becoming a successful seller on PONCUBE:

<ul>
<li>Be open and respond on time to your customers.</li>
<li>Be explicit and detailed with your shop’s About information.</li>
<li>State your policies clearly and concisely.</li>
<li>Ensure that you display only accepted products or services.</li>
<li>Check your mail, shop, SMS often for any notifications on orders and payments.</li>
<li>Organize your store and make it immediately clear to buyers what it is all about.</li>
</ul>

<h2>Shipping and delivery</h2>
<h3>How much does it cost to ship an item?</h3>
Shipping charges vary. It primarily depends on the product type, the number of items bought, product destination, and weight. 

<h3>How do I receive an item that I purchased</h3>
When ordering, you’ll get the option to select a delivery method. You can choose to pick up in-store, ask the seller to deliver in person, or ship to an address. This is often dependent on the seller, though. 

<h2>Return and refund policy</h2>
<h3>How do I cancel my order?</h3>
You can only cancel an order if the seller has not approved it already. Once approved, you will have to contact the seller to cancel your order. 

To cancel an order before approval, go to your profile and click <strong>My Paid Orders</strong>. Then select the one you like to cancel. 

<h3>How can I cancel an order after approval</h3>
You will have to contact the seller to cancel your order. You can find the seller’s contact details in their about info.

<h3>Can I return purchased item? </h3>
Unsatisfied with a product and want to return it to get a refund? We’ve put it all in place to serve your best interest. All you need to do is dispute your order.

To dispute an order, go to your profile. Then click <strong>My Paid Orders</strong>. Scroll to the product you like to return and select <strong>DISPUTE</strong>. Fill the complaint form and confirm your return request. The product’s status now changes to <strong>IN DISPUTE</strong>.

Once received, we’ll then follow up on your request. We assure you that you will get your refund if the seller is liable for any errors along the supply line.

<h3>What do we check while accepting or picking up a returned product?</h3>
During pick-up, we’ll check to ensure that the returned satisfies the following conditions:
<ol>
<li>Correct Product: 
<p>IMEI/ name/ image/ brand/ serial number/ article number/ bar code should match and MRP tag should be undetached and clearly visible.</p></li>
<li>Complete Product:
<p>All in-the-box accessories, freebies, and combos (if applicable) should be present.</p></li>
<li>Unused Product:
<p>The product should be unused, unsoiled, and with non-tampered quality check seals/ warranty seals (wherever applicable).</p></li>
<li>Undamaged Product:
  <p>The product should be undamaged and without any scratches, dents, tears or holes.</p></li>
<li>Original Packaging:
<p>Product's original packaging/box should be undamaged.</p></li>
</ol>

<h3>How long does it take to process a refund?</h3>
We initiate refunds once the seller receives the returned item, and we’re sure that it passes the quality checks. The refund time depends on the mode of refund and generally takes between 5 to 7 working days.
</div>
</div>


<app-footpage></app-footpage>
</ion-content>
</ion-app>
