<div class="foot">
<div class="p-g browser green">
  <ion-row>
    <ion-col>
<div class="align-center">
<h1 class="c-green title">WHAT IS PONCUBE?</h1>
<p class="point" (click)="route('about')">Read all about the products of Nigeria cube</p>
</div>
    </ion-col>
</ion-row>
  <ion-row class="">
    <ion-col class="align-center">
      <ion-card>
        <ion-card-header>
<div class="">
  <h1 class="c-green">Our Vision</h1>
</div>
</ion-card-header>
<ion-card-content>
<div>
<p>To offer every crafts person a chance to reach customers within and beyond Nigeria.</p>

<p>We want to help small businesses, exporters and manufacturers in Nigeria sell their products around the globe and contribute towards the country’s economy. At Poncube, we reinvent the way people are used to selling their products. We rethink the selling process and spend hours giving the right platform to sellers and buyers to interact.</p>
</div>
</ion-card-content>
</ion-card>
      </ion-col>
      <ion-col class="align-center">
        <ion-card>
          <ion-card-header>
        <div class="">
          <h1 class="c-green">Our Philosophy</h1>
        </div>
        </ion-card-header>
        <ion-card-content>
        <p>We are constantly asking ourselves, “How can we help improve the country’s economy? How can we promote local artists?” We connect millions of buyers around the globe with Nigerian sellers, thus empowering them and creating great opportunities. In the coming few years, we want to become one of the best destination for discovering great economic opportunities.</p>
        </ion-card-content>
        </ion-card>
        </ion-col>
<ion-col class="align-center">
  <ion-card>
    <ion-card-header>
  <div class="">
    <h1 class="c-green">Join the community</h1>
  </div>
  </ion-card-header>
  <ion-card-content>
<p>Connect with sellers from Nigeria or join us to team up with like-minded people. We help makers, crafters, and artists to sell their products and contribute to the country’s economy.
So if you are ready to sell, we are here to get your online shop up and working in the shortest time possible.</p>
</ion-card-content>
</ion-card>
  </ion-col>

    </ion-row>
    </div>



    <div class="mobile c-green">
      <ion-row>
        <div class="align-center">
        <h1 class="c-green title">WHAT IS PONCUBE?</h1>
        <p class="point" (click)="route('about')">Read all about the products of Nigeria cube</p>
        </div>
        </ion-row>
        <ion-row>
          <ion-col class="align-center">
            <ion-card class="green_w">
              <ion-card-header>
      <div class="">
        <h1 class="c-green">Our Vision</h1>
      </div>
      </ion-card-header>
      <ion-card-content>
      <div>
      <p>To offer every crafts person a chance to reach customers within and beyond Nigeria.</p>

      <p>We want to help small businesses, exporters and manufacturers in Nigeria sell their products around the globe and contribute towards the country’s economy. At Poncube, we reinvent the way people are used to selling their products. We rethink the selling process and spend hours giving the right platform to sellers and buyers to interact.</p>
      </div>
      </ion-card-content>
      </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="align-center">
              <ion-card class="green_w">
                <ion-card-header>
              <div class="">
                <h1 class="c-green">Our Philosophy</h1>
              </div>
              </ion-card-header>
              <ion-card-content>
              <p>We are constantly asking ourselves, “How can we help improve the country’s economy? How can we promote local artists?” We connect millions of buyers around the globe with Nigerian sellers, thus empowering them and creating great opportunities. In the coming few years, we want to become one of the best destination for discovering great economic opportunities.</p>
              </ion-card-content>
              </ion-card>
              </ion-col>
            </ion-row>
<ion-row>
  <ion-col class="align-center">
    <ion-card class="green_w">
      <ion-card-header>
    <div class="">
      <h1 class="c-green">Join the community</h1>
    </div>
    </ion-card-header>
    <ion-card-content>
  <p>Connect with sellers from Nigeria or join us to team up with like-minded people. We help makers, crafters, and artists to sell their products and contribute to the country’s economy.
  So if you are ready to sell, we are here to get your online shop up and working in the shortest time possible.</p>
  </ion-card-content>
  </ion-card>
    </ion-col>
  </ion-row>

    </div>


    <!-- footer here -->
    <div class="browser">
<ion-row>
  <ion-col>

    <ion-list>
      <ion-item>
      <p class="c-green">INFORMATION</p>
      </ion-item>
    <ion-item (click)="route('about')">
    About Us
      </ion-item>
      <ion-item (click)="route('delivery')">
        Delivery information
        </ion-item>
        <ion-item (click)="route('privacy')">
          Privacy policy
          </ion-item>
          <ion-item (click)="route('terms')">
            Terms and Condition
            </ion-item>
            <ion-item (click)="route('faq')">
            FAQ
              </ion-item>
              </ion-list>
    </ion-col>
  <!--  <ion-col>

    <ion-list>
        <ion-item>
            <p class="c-green">CUSTOMER SERVICE</p>
          </ion-item>
      <ion-item>
      Contact Us
        </ion-item>
        <ion-item>
          Returns
          </ion-item>
          <ion-item>
          Site map
            </ion-item>
            </ion-list>
      </ion-col>-->
      <ion-col>

        <ion-list>
          <ion-item>
              <p class="c-green">EXTRAS</p>
            </ion-item>
        <ion-item>
      ....
          </ion-item>
          <ion-item>
          ....
            </ion-item>
            <ion-item>
          ....
              </ion-item>
              </ion-list>
        </ion-col>

        <ion-col>

          <ion-list>
            <ion-item>
                <p class="c-green">FOLLOW US</p>
              </ion-item>
          <ion-item>
      <div class="fb" (click)="openInNewTab('https://web.facebook.com/productsofnigeriacube')">

      </div>
      <div class="ig" (click)="openInNewTab('https://www.instagram.com/productsofnigeriacube/')">

      </div>
      <div class="tw" (click)="openInNewTab('https://twitter.com/P_O_NCUBE')">

      </div>
            </ion-item>
                </ion-list>
          </ion-col>

  </ion-row>
      </div>

      <div class="mobile">
        <ion-list>
          <ion-item class="c-green point" (click)="footie('information',$event)">
INFORMATION
            </ion-item>
            <!-- <ion-item class="c-green point" (click)="footie('c_service',$event)">
                CUSTOMER SERVICE
              </ion-item> -->
              <ion-item class="c-green point" (click)="footie('extra',$event)">
                  EXTRAS
                </ion-item>
                <div class="c-green flex_s">
          <div>    FOLLOW US</div>
<div class="center">
              <div class="fb" (click)="openInNewTab('https://web.facebook.com/productsofnigeriacube')">

              </div>
              <div class="ig" (click)="openInNewTab('https://www.instagram.com/productsofnigeriacube/')">

              </div>
              <div class="tw" (click)="openInNewTab('https://twitter.com/P_O_NCUBE')">

              </div>
              </div>
                  </div>
                </ion-list>
      </div>

          <!-- <div class="">
            <div class="browser">
              <div class="center">
                <div class="g_s" (click)="openInNewTab('https://play.google.com/store/apps/details?id=com.poncube.shop')"></div>

                <div class="a_s" (click)="openInNewTab('https://apps.apple.com/ng/app/poncube/id1601403194')"></div>
              </div>
            </div>

            <div class="mobile">
              <div class="center">
                <div class="g_s"  (click)="openInNewTab('https://play.google.com/store/apps/details?id=com.poncube.shop')"></div>
                <div class="a_s" (click)="openInNewTab('https://apps.apple.com/ng/app/poncube/id1601403194')"></div>
              </div>
            </div>
          </div> -->

      <div class="p-t">
        <ion-card-subtitle class="align-center">Copyright &copy; 2021, PONCUBE, all rights reserved </ion-card-subtitle>
      </div>
        </div>
