<ion-app>
<ion-header>
  <ion-toolbar>
    <div class="browser">
      <div class="p-t">
        <div *ngIf="scrolled" class="logger">
                <div class="">
                  <ion-button size="small" (click)="route('tabs/tab1')">
                  <ion-icon name="arrow-back"></ion-icon>  HOME | PONCUBE
                  </ion-button>
                </div>
                <div class="">
                <div class="logo">
      <img src="assets/images/logo.png">
                </div>
                  </div>
                <div class="" *ngIf="!logged">
                    <ion-button class="cart"></ion-button>
                  </div>
</div>

</div>
</div>

<div class="mobile">
  <div>
      <div class="">
        <ion-button size="small" (click)="route('tabs/tab1')">
        <ion-icon name="arrow-back"></ion-icon>  HOME | PONCUBE
        </ion-button>
        </div>

        <div class="center">
          <div class="logo">
      <img src="assets/images/logo.png">
          </div>
    </div>
          </div>
</div>

  </ion-toolbar>
</ion-header>

<ion-content>
<div class="p-g">
  <div>
    <ion-title class="align-center"><u>ABOUT PONCUBE</u></ion-title>
  </div>

  <p class="">
    <b>Our Story</b>
  </p>

    <p class="">
        It all started with a thought
    </p>
    <p>
        <span>To go beyond limitations</span><br></p>
    <p><span>Work beyond geographical
    boundaries</span><br></p>
    <p><span>Work for the betterment of
    local artists</span><br></p>
    <p><span>Make a difference to the
    country’s economy</span><br></p>
    <p><span><br></span></p>
    <p><span>The Poncube.com was
    founded in 2017 with a vision to promote local artists in Nigeria and give them
    a platform to showcase their work to the world.</span><br></p>
    <p><span>Raised in the city of
    Ibadan, Oyo State, Nigeria, Founder Moruf Olansile Olalere always
    wanted to give back to the community. Coming from a business family,
    with both the parents being successful entrepreneurs,
    entrepreneurship blood runs in the family. Moruf studied business
    administration at Cyprus International University and shifted his
    base to the USA to pursue his career. However, after living in the
    USA, he realized his urge to give back something to the community and
    help people living in Nigeria achieve a better lifestyle.</span><br></p>
    <p><span><br></span></p>
    <p><span>Therefore, he designed
    poncube.com to enable local sellers to grow their reach
    beyond the country and sell their goods to people all over the world.
    He has seen the rise of the music industry as one of the most
    successful industries in Nigeria in the past decade and this
    motivated him even further to patronize his country.</span><br></p>
    <p>
        <br></p>
    <p class="">
        <b>Our Vision</b></p>
    <p>
        <span>To offer every </span><span>crafts person</span><span>&nbsp;a
    chance to reach customers within and beyond Nigeria.</span><br></p>
    <p><span>We want to help small
    businesses, exporters and manufacturers in Nigeria sell their
    products around the globe and contribute towards the country’s
    economy. At Poncube, we reinvent the way people are used to
    selling their products. We rethink the selling process and spend hours
    giving the right platform to sellers and buyers to interact.</span><br></p>
    <p><span>We have seen the growth of
    music industry in the past decade due to Nigerians patronizing their
    artists and supporting them. Therefore, we envision extending our
    support to fellow Nigerian artist who have the talent and potential
    to come together for the growth of the country’s economy. We can
    easily achieve what industries in China and other countries have
    achieved in a matter of few years.</span><br></p>
    <p><span><b>Our Philosophy</b></span><br></p>
    <p><span>We are constantly asking
    ourselves, “How can we help improve the country’s economy? How
    can we promote local artists?” We connect millions of buyers around
    the globe with Nigerian sellers, thus empowering them and creating
    great opportunities. In the coming few years, we want to become one
    of the best destination for discovering great economic opportunities.</span><br></p>
    <p><span><b>Our Promise</b></span></p>
    <ul>
        <li>
            <p>
                We offer a platform where people come to sell, buy and give.
            </p>
        </li>
        <li>
            <p>
                We promote talent that comes in every shape, size, and age.
            </p>
        </li>
        <li>
            <p>
                We continue to innovate and come forward with great opportunities.
            </p>
        </li>
        <li>
            <p>
                From listing to payments and delivery, everything is secure.</p>
        </li>
        <li>
            <p>
                We will stay true to our customers and serve the finest quality Nigerian goods.</p>
        </li>
    </ul>
    <p><span><b>Sell Artistic Goods</b></span><br></p>
    <p><span>With its Headquarters in Lagos
    State in Nigeria, Poncube gives sellers a chance to open
    their online shop with a fraction of the money and reach out to
    customers around the globe.</span><br></p>
    <p><span><b>Shop Amazing Items</b></span><br></p>
    <p><span>Get your hands on high-quality
    handmade goods, craft supplies, clothes, footwear, and more
    exclusively made in Nigeria. Get recommendations crafted around your
    shopping experience.</span><br></p>
    <p><span><b>Join the Community</b></span><br></p>
    <p><span>Connect with sellers from
    Nigeria or join us to team up with like-minded people. We help
    makers, crafters, and artists to sell their products and contribute
    to the country’s economy.</span><br></p>
    <p><span>So if you are ready to sell,
    we are here to get your online shop up and working in the shortest
    time possible.</span><br></p>

</div>
<app-footpage></app-footpage>
</ion-content>
</ion-app>
