<ion-app>
<ion-header>
  <ion-toolbar>
    <div class="browser">
      <div class="p-t">
        <div class="logger">
                <div class="">
                  <ion-button size="small" (click)="route('tabs/tab1')">
                  <ion-icon name="arrow-back"></ion-icon>  HOME | PONCUBE
                  </ion-button>
                </div>
                <div class="">
                <div class="logo">
      <img src="assets/images/logo.png">
                </div>
                  </div>
</div>

</div>
</div>

<div class="mobile">
  <div>
      <div class="">
        <ion-button size="small" (click)="route('tabs/tab1')">
        <ion-icon name="arrow-back"></ion-icon>  HOME | PONCUBE
        </ion-button>
        </div>

        <div class="center">
          <div class="logo">
      <img src="assets/images/logo.png">
          </div>
    </div>
          </div>
</div>

  </ion-toolbar>
</ion-header>

<ion-content>
<div class="p-g">
  <div>
  <div >
    <div class="align-center">
<p>
 <u><b>SHIPPING
AND CUSTOM INFORMATION</b></u></p>
<p>
<b>&nbsp; What
are the Shipping Charges and time?</b>
</p>
<p><span>The
shipping charges vary with each seller and the state from which the
product is being shipped.&nbsp;</span><br>
</p>
<p>
<span>Sellers
incurred high shipping charges on low valued items therefore in such
situations; nominal delivery charges help them to set their offset
logistics costs. In certain situations, the seller may waive off the
shipping and delivery charges, if you choose to shop for a minimum
predefined value.</span>
<br>
</p>
<p>For
example, you may be required to pay 40
naira as delivery charges, if the product is less than 500
naira, however, the delivery charges may be waived off if the total
cost is more than 500
naira.<br>
</p>
<p>
<span>You can
get more information on shipping time on the product detail page.</span>
<br>
</p>
<p>
<span>What
are the supported shipping methods?
</span>
<br>
</p>
<p>
<span>Suppliers
can easily choose from a large number of express shipping options;
however since the shipping methods are set up by different suppliers,
you can easily contact the supplier to get detailed shipping
information. To get in touch with the supplier, visit the product
detail page and click contact now to send in a message to the
supplier.
</span>
<br>
</p>
<p>
<b>Do
the site charges custom and import duty?
</b>
<br>
</p>
<p>
  <span>If you
are ordering items from Poncube to your own country, the
order may be required to clear custom in the country. Therefore,
while you order, please check whether or not the order will incur
additional import duty or other custom related charges.</span><br><span>If the
order is stuck with custom clearance in your country, the supplier
will not be responsible for the delay. However, here we hope that as
a customer, you will not use additional import costs or custom
clearance delay as a reason to raise a claim or leave a negative
feedback.</span><br>
<br></p><p>
&nbsp; <b><u>BEFORE
THE ORDER HAS BEEN SHIPPED</u></b></p><p><b>Can
the processing time be extended?</b><br></p><p><span>Yes, the
processing time can be extended. If you agree to extend the
processing time for the supplier, follow the below-written steps:</span></p><ul><li><p
	 >Sign in
	to your order and locate your current order from the list</p>
	</li><li><p>
	 Click
	on the “extend the processing time” button</p>
	</li><li><p>
	 Choose
	a time slot you want your order to be extended and click the
	“confirm button”</p>
</li></ul><p><span><b>Managing
Shipping Address</b></span><br></p><p><span>Since
the language of our website is English, we request you to fill in all
the details in English input method. If there are certain terms that
are not in English, you are advised to use similar English language.</span><br></p><p><span>Moreover,
to make sure you get your order on time, confirm your shipping
address. Click on my order page and select the shipping option. Here
you can recheck your address and click save.</span><br></p><p>
<br></p><p>
<b><u>&nbsp; AFTER
SHIPPING OF THE ORDER</u></b></p><p><span><b>How
many days will it take to ship my order?</b></span><br></p><p><span>Generally,
the order is delivered within 3 to 60 days depending on your delivery
location. However, an extension on the date of delivery can be made
if the seller and buyer mutually agree on a new date.</span><br></p><p><span>However,
if the seller has not shipped the order before the agreed date, the
buyer can contact the supplier to agree on a new date or ask for a
refund.</span><br></p><p><span><b>How
can I track my order?</b></span><br></p><p><span>After
your order has been shipped, a tracking number will appear. The order
can easily be tracked with the number provided. Log in to www.poncube.com and see the tracking details in transactions.</span><br></p><p> Note :
It may take up to 48 hours for the tracking information to appear and
get updated by the shipping company. However, if after 3 days the
tracking information is not updated, contact the seller.&nbsp;<br></p><p>

</p>
</div>
    </div>
</div>
</div>
<app-footpage></app-footpage>
</ion-content>
</ion-app>
