<ion-app>
<ion-header>
  <ion-toolbar>
    <div class="browser">
      <div class="p-t">
        <div  class="logger">
                <div class="">
                  <ion-button size="small" (click)="route('tabs/tab1')">
                  <ion-icon name="arrow-back"></ion-icon>  HOME | PONCUBE
                  </ion-button>
                </div>
                <div class="">
                <div class="logo">
      <img src="assets/images/logo.png">
                </div>
                  </div>
</div>

</div>
</div>

<div class="mobile">
  <div>
      <div class="">
        <ion-button size="small" (click)="route('tabs/tab1')">
        <ion-icon name="arrow-back"></ion-icon>  HOME | PONCUBE
        </ion-button>
        </div>

        <div class="center">
          <div class="logo">
      <img src="assets/images/logo.png">
          </div>
    </div>
          </div>
</div>

  </ion-toolbar>
</ion-header>

<ion-content>
<div class="p-g">
  <div class="align-center">
    <h1>PRIVACY POLICY</h1>
  </div>
  <p><span >We care for our customers and their privacy. We
  believe in commitment, transparency, and being upfront with our
  customers. We value the trust our customer's place in us.&nbsp;Therefore,
  we insist upon the highest privacy standards to help customers enjoy
  secure transactions and information policy.</span></p><p>
  </p><p><a></a>
  Poncube.com
  is an electronic commerce platform which is predominantly used by
  business entities to facilitate electronic commerce and such business
  use does not generally involve the collection of personal information
  of individuals. Poncube recognizes the importance of
  privacy as well as the importance of maintaining the confidentiality
  of personal information. This Privacy Policy applies to all products
  and services provided by us and sets out how we may collect, use and
  disclose information in relation to users of the Sites.</p><p>
  </p><p>
<b>Read the
  following statement to learn more about our privacy policy and to
  know more about our information gathering and other&nbsp;privacy&nbsp;practice.</b></p><p>
  </p><p>
However,
  our privacy policy is subjected to change without any prior notice.
  Therefore, please review this privacy policy periodically to make
  sure you are aware of the changes.</p><p>
  </p><p>
By
  visiting this Website you agree to be bound by the terms and
  conditions of this Privacy Policy. If you do not agree please do not
  use or access our Website.</p><p>
  </p><p>
Poncube’s&nbsp;Privacy
  Policy requires all account owners or account managers to be at least
  18 years of age. Those under 18 years of age and at least 13 years of
  age are permitted to use accounts only if the accounts are managed by
  someone over 18.</p><p>
  </p><p>
<b>A.<u>
  COLLECTION OF INFORMATION</u></b></p><p>
  </p><p>
<b>1.</b>
  Privacy of our customers is important to us and we have taken the
  required steps to ensure that we don’t ask for more information
  than what is required to provide you with best services and to
  protect your account.</p><p>
  </p><p>
<b>2.</b>
  Information collected by us&nbsp;include&nbsp;but is not limited to,
  user name, address, phone number, email address, gender, and user
  preferences.</p><p>
  </p><p>
<b>3.</b> In
  connection with any transaction and payment services under our buyer
  protection schemes we provide on the Sites, information, including
  but not limited to, bank account numbers, billing and delivery
  information, credit/debit card numbers and expiration dates and
  tracking information from Cheque ("Account Information")
  may be collected among other things to facilitate the sale and
  purchase as well as the settlement of purchase price of the products
  or services transacted on or procured through the Sites.</p><p>
  </p><p>
<b>4.</b> Our
  primary goal in doing so is to provide you a safe, efficient, smooth
  and customized experience. This allows us to provide services and
  features that most likely meet your needs, and to customize our
  Website to make your experience safer and easier. More importantly,
  while doing so we collect personal information from you that we
  consider necessary for achieving the purpose.</p><p>
  </p><p>
<b>B.
  <u>USE OF INFORMATION AND LOCATION</u></b></p><p>
  </p><p>
<b>1.</b>
  Personal information is used to provide certain services which are
  requested by our customers. When we use your private information to
  market our customers, they have the option to opt-out of such use.
  Personal information is also used to resolve disputes, help promote
  safe service, troubleshoot problems and inform you about latest
  offers, protect you against fraud and errors, customize your
  experience, and measure consumer interest among other things.</p><p>
  </p><p>
<b>2.</b>
  Moreover, in an effort to improve our services, offerings, and
  products, we collect and analyses your profile data along with your
  demographic. Your IP address also makes it easy for us to identify
  you and gather broad location information.</p><p>
  </p><p>
<b>3.</b> You
  will be occasionally asked to complete optional online surveys that
  are used to further offer you a customized, tailor made experience at
  our website.</p><p>
  </p><p>
<b>C.<u>
  DISCLOSURE OF INFORMATION</u></b></p><p>
  </p><p>
<b>1.</b> By
  using our website, you further agree to disclose your personal data
  to the service providers engaged by the company to assist us with
  providing you with the best of our services. The service provider is
  under a duty of confidentiality to us and is only permitted to use
  your Personal Data in connection with providing you with their
  services and not for their own purposes.</p><p>
  </p><p>
<b>2.</b><span> When
  necessary, the company can disclose and transfer your personal data
  to our professional </span><span>adviser</span><span>, insurers, law enforcement agencies and
  other organizations in respect of any investigations, claims or
  potential claims brought on or against us.</span></p><p>
  </p><p>
<b>3.</b> All
  the personal data provided by you will be retained by the company and
  will be accessible to our employees for performing research and
  analytics, to facilitate communication, to respond to queries or to
  verify your identity.</p><p>
  </p><p>
<b>4.</b> All
  Voluntary Information may be made publicly available on the Sites and
  therefore accessible by any internet user. Any Voluntary Information
  that you disclose to us becomes public information and you relinquish
  any proprietary rights (including but not limited to the rights of
  confidentiality and copyright) in such information. You should
  exercise caution when deciding to include personal or proprietary
  information in the Voluntary Information that you submit to us.</p><p>
  </p><p>
<b>5.</b>
  Statistical information may be provided to third parties, but when we
  do so, the company does not provide personally-identifying
  information without your permission.</p><p>
  </p><p>
<b>D.
  <u>LINK TO OTHER WEBSITES</u></b></p><p>
  </p><p>
Poncube.com
  links to other websites that may or may not collect
  your&nbsp;personal&nbsp;identifiable information. However, we are not
  responsible for the privacy practices or the content of the
  affiliated websites.</p><p>
  </p><p>
<b>E.
  <u>COOKIES</u></b></p><p>
  </p><p>
<b>1.</b>
  Cookies are used by the website to store specific information about
  you and track your visits to the Sites. It is not uncommon for
  websites to use cookies to enhance identification of their users.</p><p>
  </p><p>
<b>2.</b> A
  "cookie" is a small amount of data that is sent to your
  browser and stored on your computer's hard drive. A cookie can be
  sent to your computer's hard drive only if you access the Sites using
  a computer. If you do not de-activate or erase the cookie, each time
  you use the same computer to access the Sites, our web servers will
  be notified of your visit to the Sites and in turn, we may have
  knowledge of your visit and the pattern of your usage.</p><p>
  </p><p>
<b>3.</b>
  Cookies are generally used to identify and enable the customer’s
  behavior. It enables</p><p>
  </p><p>
<b>i)</b>
  Access your Registration Information or Account Information so you do
  not have to re-enter it</p><p>
  </p><p>
<b>ii)</b>
  Gather statistical information about usage by users</p><p>
  </p><p>
<b>iii)</b>
  Research visiting patterns and help target advertisements based on
  user interests</p><p>
  </p><p>
<b>iv)</b>
  Assist our partners to track user visits to the Sites and process
  orders</p><p>
  </p><p>
<b>v)</b> Track
  progress and participation in promotions</p><p>
  </p><p>
<b>F.
  <u>OPT OUT/UNSUBSCRIBE</u></b></p><p>
  </p><p>
<b>1.</b> Our
  users are provided with the option to unsubscribe or opt out of
  receiving non-essential communication and emails,&nbsp;from&nbsp;our
  side, after setting up an account.</p><p>
  </p><p>
<b>2.</b>
  However, if you want to remove your contact information from all poncube.com lists, click on the unsubscribe button.</p><p>
  </p><p>
<b>G.
  <u>YOUR CONSENT</u></b></p><p>
  </p><p>
By using
  the website and by providing your personal information you consent to
  the collection and use of the information disclosed on the website by
  you in accordance with this privacy policy, including but not limited
  to, your consent of sharing your information according to this
  privacy policy.</p><p>
  </p><p>
<b><span >H. </span><span><u>GRIEVANCE OFFICER</u></span></b><span>&nbsp;</span></p><p>
  </p><p>
If you
  have any query or want to contact the grievance officer, here are the
  details:</p><p>
  </p><p>
Mr.
  Moruf Olansile Olalere</p><p>
  </p><p>
PONCUBE NIGERIA LIMITED</p><p>RC: 1448123.</p><p>
  </p><p>
Lagos
  State, Nigeria</p><p>
  </p><p>
<b>Email:</b>
  <span>productsofnigeria@gmail.com</span></p><p>

  </p>
</div>
<app-footpage></app-footpage>
</ion-content>
</ion-app>
