.text{
  padding:10px;
  text-align: center;
}
.welcome{
  font-size: 40px;
}
.item{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.hint{
  font-size: 11px;
  color:green;
}
.green{
  background: darkseagreen;
  color:white;
}
